coloredlogs~=15.0.1
py-cord==2.0.0b5
asciitree~=0.3.3
tortoise-orm==0.18.1
colored_traceback
deep_translator
gitpython
aiohttp
asyncpg

# extensions/execute
tabulate

# extensions/fun_stuff/requirements.txt
pillow
braillert

# extensions/openai/requirements.txt
openai

# extensions/search/requirements.txt
markdownify

# extensions/statistics/requirements.txt
matplotlib
mplcyberpunk
numpy
scipy
wordcloud

# extensions/vision/requirements.txt
bs4
